#menu__display {
  animation: menu-drop 0.3s linear;
  background-color: black;
  display: flex;
  flex-direction: row;
  .hide {
    animation: menu-drop 0.3s linear;
    animation-direction: reverse;
  }
}

#menu__display a {
  margin: 4px;
}

img.menu__button {
  animation: button-slide 0.3s linear;
  .hide {
    animation: button-slide 0.3s linear;
    animation-direction: reverse;
  }
}

@keyframes menu-drop {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 85px;
  }
}

@keyframes button-slide {
  0% {
    opacity: 0;
    transform: translateY(-85px);
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
