/* MENU-COLOR */
$tropical-menu: #ff3366; /* insert color here */

/* FONT */
.tropical-text {
  font-family: "Luckiest Guy", sans-serif;
}
/* BACKGROUND */
.main-background-tropical {
  @include main-background("/images/themes/tropical/accent-background.png");
}
/* SUBBACKGROUND */
.sub-background-tropical {
  @include sub-background("/images/themes/tropical/body-background.png");
}
/* MENUBACKGROUND */
.menu-background-tropical {
  background: $tropical-menu;
}
