/* FOR REFERENCE ONLY */

/* MENU-COLOR */
$xxxx-menu: #f8d460; /* insert color here */

/* FONT */
.xxxx-text {
  font-family: "Luckiest Guy", sans-serif;
}
/* BACKGROUND */
.main-background-xxxx {
  @include main-background("/images/themes/xxxx/accent-background.png");
}
/* SUBBACKGROUND */
.sub-background-xxxx {
  @include sub-background("/images/themes/xxxx/body-background.png");
}
/* MENUBACKGROUND */
.menu-background-xxxx {
  background: $xxxx-menu;
}
