@import "./vendor/reset";
@import "./vendor/fonts";
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

@import "./base/variables";
@import "./base/theme-mixins";

@import "./components/forminputs";
@import "./components/friends";
@import "./components/header";
@import "./components/landing";
@import "./components/menu";
@import "./components/notifications";
@import "./components/post";
@import "./components/primary";
@import "./components/spinner";
@import "./components/submenu";

@import "./themes/papercup";
@import "./themes/foodcourt";
@import "./themes/franklylisa";
@import "./themes/oldmac";
@import "./themes/tropical";
